body{
    background-color: pink;
}

#header{
    background-color: plum;
    margin-top: -20px;
    margin-left: -5px;
    margin-right: -5px;
}

#title {
    text-align: center;
    font-family:Verdana;
    font-style: italic;
    color: rgb(56, 139, 56);
    padding-top: 20px;
}

#subtitle{
    text-align: center;
    font-family: verdana;
    font-style: italic;
    font-size: 25px;
    color:purple;
}

p{
    font-size: 18px;
}

#positionPic{
    height: 400px;
    overflow-y: auto;
}

.pictures{
    width: 400px;
    height: 400px;
}

.composition{
    text-align: center;
}

#habilidades{
    font-family:verdana;
    margin-left: 50px;
}

h3{
    font-size: 25px;
}

button{
background-color: rgb(84, 179, 84);
}