.header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: aquamarine;
  width: 100%;
}

.container-menu {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  border: 1px solid gray;
  float: left;
  margin-left: 10px;
  margin-bottom: 0%;
}

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  background: snow;
  color: black;
  box-shadow: 0 3px 10px 0; 
}

